html {
  font-family: "helvetica nenue", "Arial", sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
}
p {
  color: #5d6660;
  font-size: 16px;
  line-height: 24px;
  font-family: sans-serif;
}

header {
  background-color: #ffffff;
  height: 80px;
}
#header-container {
  width: 80%;
  margin: auto;
}
.col-3 {
  width: 33%;
  float: left;
}
.logo {
  margin-top: 25px;
}
.menu {
  margin-top: 25px;
}
.menu li {
  list-style-type: none;
  display: inline;
  font-size: 0.85em;
  color: #8e8e8e;
  padding-right: 20px;
}
.getStartedButton {
  background-color: #6dc77a;
  border-radius: 28px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  display: inline;
  float: right;
}
/* .main-container {
  margin-top: none;
} */
#top-section-main {
  background-image: url(/ForPhotos//Friends);
  height: 740px;
  border: none;
}
#top-section-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#top-section-content h1 {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  padding-top: 100px;
  margin-bottom: 10px;
}
#top-section-content p {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}
.play-button {
  padding: 50px 0 110px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-form h6 {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}
.main-form input {
  text-align: center;
  margin: 0;
  width: 30%;
  height: 40px;
  font-family: sans-serif;
  font-weight: 100;
}
.main-form button {
  width: 30%;
  height: 43px;
  background-color: #6dc77a;
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;
}
.feature-selection {
  padding-top: 100px;
}
.feature-selection-tittle {
  text-align: center;
  width: 80%;
  margin: auto;
  font-weight: 200;
  line-height: 1.5em;
}
.feature-content {
  margin: auto;
  width: 80%;
  text-align: center;
}
.feature-content .col-3 img {
  width: 100%;
}
.feature-content .col-3 p {
  font-size: 0.9em;
  letter-spacing: 0.5px;
}
.feature-content .col-3 {
  padding: 10px;
  width: 30%;
}
