html {
  font-family: "helvetica nenue", "Arial", sans-serif;
}

body {
  background-color: black;
  margin: 0;
}

header {
  background-color: #ffffff;
  height: 80px;
}
#header-container {
  width: 80%;
  margin: auto;
}
.col-3 {
  width: 33%;
  float: left;
}
.logo {
  margin-top: 25px;
}
.menu {
  margin-top: 25px;
}
.menu li {
  list-style-type: none;
  display: inline;
  font-size: 0.85em;
  color: #8e8e8e;
  padding-right: 30px;
}
.getStartedButton {
  background-color: #6dc77a;
  border-radius: 28px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  display: inline;
  float: right;
}
